---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   13px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 1;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #7a7a7a;
$background-color: #f1f1f1;
$brand-color:      #ce0e24;
$bg-brand-color:   #121a28;

$light-grey:       #aaaaaa;
$grey-color:       #6d6e71;
$grey-color-light: #bcbec0;
$grey-color-dark:  #606060;


// Width of the content area
$content-width:    1200px;

$on-palm:          768px;
$on-laptop:        992px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "grid",
        "layout",
        "syntax-highlighting"
;
