
@font-face {
    font-family: 'ibm_plex_mono';
    src: url('fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('fonts/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, .section, .container, .level
{
    height: 100%;
}

body {
  background: #ededed;
  color: #03131c;
  font-family: 'ibm_plex_mono', monospace;
  font-size: 16px;
  line-height: 1.5;
}

.level .logo {
  width: 160px;
  height: auto;
}

p{
  margin-bottom: 10px;
}

a {
  color: #03131c;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

a:hover {
  letter-spacing: 1px;
  color: #db5a45;
}

.under-maintenance {
  flex-direction: column;
}
