<header class="dark-header">
<div class="container clearfix">

  <div class="col-md-4 col-sm-5 col-xs-10 pl10">
    <span>Graphic & typeface design by <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>.</span>
  </div>

  <input type="checkbox" id="show-menu" role="button">
  <label for="show-menu" class="show-menu col-xs-2">&#9776;</label>

    <nav class="col-md-8 col-sm-7 crtica-pred pr10">
      <ul>

        {% assign sorted_pages = site.pages | sort:"order" %}
          {% for node in sorted_pages %}
            {% if node.title %}
              <li {% if node.url == page.url %} class="active"{% endif %}>
                <a href="{{ node.url }}">{{node.title}}</a>
              </li>
            {% endif %}
        {% endfor %}

        <li class="last-link">contact: <a href="mailto:hello@lukagigovic.com">hello@lukagigovic.com</a></li>

      </ul>
    </nav>

    </div>

</header>
