
<div class="sub-page mt">
  <ul>
    <li><a href="{{site.url}}">See other projects</a></li>
    <li><a href="mailto:hello@lukagigovic.com">Contact me</a></li>
  </ul>
  <!-- <h3>Or check out my other work</h3>
  <ul>

    {% for post in site.posts %}

      {% if post.title == page.title %}
        <li><a href="{{ post.url }}" class="current">{{ post.title }}</a></li>
      {% else %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}

  </ul> -->
</div>
