<script src="../js/instanclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init('mousedown');</script>
<script>
  $('.grid').masonry({
    // set itemSelector so .grid-sizer is not used in layout
    itemSelector: '.mali',
    // use element for option
    columnWidth: '.grid-sizer',
    transitionDuration: '0.3s',
    percentPosition: true
  });
</script>

<script>

$(document).ready(function(){

  $('.naslov').hover(
       function(){ $(this).addClass('hover') },
       function(){ $(this).removeClass('hover') }
)

});

</script>
