<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="clearfix">

    {% include header-black.html %}

    <div class="container">
          <article class="post" itemtype="http://schema.org/CreativeWork">

            <header class="post-header center">

              <h1 class="post-title" itemprop="name headline">
                {{ page.title }}
              </h1>

              <!-- <p class="post-meta">
                {% if page.authors %}
                  <span itemprop="contributor">
                    <i>In collaboration with {{ page.authors }}.</i>
                  </span>
                {% endif %}

                <time datetime="{{ page.datecreated }}" itemprop="dateCreated">
                  {{ page.datecreated | date: "%b %-d, %Y" }}
                </time>
              </p> -->
            </header>

            <div class="post-content" itemprop="articleBody description">
              {{ content }}
            </div>

          </article>
          <div class="center mw">
            {% include postlist.html %}
          </div>
  </div>
      {% include scripts.html %}
  </body>
</html>
